@model IEnumerable<CupcakeYPasteles.Models.Material>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Materiales</h2>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Agregar nuevo</button>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>

            <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit",new { id=item.id})'">Editar</button>

            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete",new { id=item.id})'">Eliminar</button>
        </td>
    </tr>
}

</table>
