@model IEnumerable<CupcakeYPasteles.Models.Ingreso>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Ingresos</h1>



<button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Agregar nuevo</button>

<hr />
<table class="table table-striped table-bordered" id="tablaingresos" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.producto.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.producto.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                   
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete",new { id=item.id})'">Eliminar</button>
                </td>
            </tr>

        }
    </tbody>
</table>
